<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Catalog</title>
    <!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
	<!-- Latest compiled and minified JavaScript -->
	<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
	<script src="//apis.google.com/js/platform.js?onload=start"> </script>
	<style type="text/css" media="screen">
        .tile {
            padding-top: 80px;
        }
        .big-tile {
        	position: absolute;
            padding-top: 100px;
            height: 342px;
        }
        #content {
        	position: absolute;
        	top: 10%;
        	left: 25%;
        	width: 70%;
        }
        .add-button{
        	position: relative;
        	top:50px;
        }
        .items{
        	margin-top: 5%;
        }
    </style>
  </head>
  <body>
  <header>
		<div class="col-md-12 col-lg-12">
			<div class="row">
				<div class="col-md-10 col-lg-10">
				<a href="{{url_for('index')}}" title="Homepage">
		  			<h1>The Catalog</h1>
		  		</a>
		  		</div>
		  		<div class="col-md-2 col-lg-2">
		  		{% if google_plus_id() == 0 %}
				<!-- GOOGLE PLUS SIGN IN BUTTON--> 		          
				          <div id="signInButton">
				          <span class="g-signin"
				            data-scope="openid email"
				            data-clientid="1009874113857-1352480pf2taahtfeu4qebbcilbd0gus.apps.googleusercontent.com"
				            data-redirecturi="postmessage"
				            data-accesstype="offline"
				            data-cookiepolicy="single_host_origin"
				            data-callback="signInCallback"
				            data-approvalprompt="force">
				          </span>
				        </div>
				 {% else %}
				 	Logged in as {{google_plus_username()}} <a href="{{url_for('logout')}}">Logout</a>
				 {% endif %}
				<!--END GOOGLE PLUS SIGN IN BUTTON -->
			</div>
		  </div>
		</div>
  </header>
  <nav class="col-md-2">
  	<ul class="nav nav-pills nav-stacked">
  		 {% for category in categories %}
  		 	<li role="presentation" {% if category_id == category.category_id %}class="active"{% endif %} ><a href="{{url_for("view_category", category_name=category.category_name, category_id=category.category_id)}}">{{category.category_name}}</a></li>
  		 {% endfor %}
	</ul>
  </nav> 
  {% block content %}{% endblock %}
  <script type="text/JavaScript">
	function signInCallback(authResult) {
	  if (authResult['code']) {
	  	//hide login button
	    $('#signinButton').attr('style', 'display: none');
	    //check the users login 
	    $.ajax({
	      type: 'POST',
	      url: '/gconnect?state={{ STATE() }}',
	      processData: false,
	      data: authResult['code'],
	      contentType: 'application/octet-stream; charset=utf-8',
	      success: function(result) {
	        // redirect to homepage
	        if (result) {
	         setTimeout(function() {
	          window.location.href = '{{url_for('index')}}';
	         }, 100);
	          
	      } else if (authResult['error']) {
	    console.log('There was an error: ' + authResult['error']);
	  } 
	      }
	      
	  }); } }
</script>
  </body>
</html>
